* {
  color: rgb(235, 231, 231);
}
body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: rgb(24, 23, 23);
  font-size: 16px;
}

textarea,
input {
  outline: none;
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p {
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

::selection {
  background-color: rgb(99, 97, 97);
}

.action-button {
  height: 4rem;
  width: 4rem;
}

.action-button-svg {
  fill: rgb(235, 231, 231);
  transition: all 0.3s;
}
.action-button-svg:hover {
  fill: #fff;
  filter: drop-shadow(0px 2px 1px 2px rgba(255, 255, 255, 0.3));
  cursor: pointer;
}

.title-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  font-size: 24px;
  user-select: none;
  max-height: 96px;
  height: 96px;
}

.subcontainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer:first-child {
  padding-left: 2rem;
  justify-content: flex-start;
}

.subcontainer:last-child {
  padding-right: 2rem;
  justify-content: flex-end;
}

.title-element {
  display: flex;
  margin-right: 1.5rem;
  justify-content: center;
  align-items: center;
}

.title-element:last-child {
  margin-right: 0;
}

.size-container {
  display: flex;
}

.button-container {
  display: flex;
}

.size-input {
  user-select: text;
  background-color: transparent;
  font-size: 24px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  width: 2ch;
}

.main {
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.center {
  flex: 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  border: solid 1px #ffffff;
  display: grid;
  background-color: #ffffff;
}

.button {
  padding: 0rem;
  background-color: transparent;
  border-bottom: solid 2px rgb(235, 231, 231);
  transition: all 0.3s;
}

.foot-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  font-size: 24px;
  user-select: none;
  max-height: 96px;
  height: 96px;
}

.version {
  display: flex;
}

.rgb-preview {
  margin: 0 1rem;
  padding: 1rem;
}

.rgb-input {
  user-select: text;
  background-color: transparent;
  font-size: 24px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  width: 2ch;
}
